@font-face {
	font-family: 'RobotoRegular';
	src: url('../fonts/roboto/Roboto-Regular.eot');
	src: url('../fonts/roboto/Roboto-Regular.eot') format('embedded-opentypy'),
		url('../fonts/roboto/Roboto-Regular.woff2') format('woff2'),
		url('../fonts/roboto/Roboto-Regular.woff') format('woff'),
		url('../fonts/roboto/Roboto-Regular.ttf') format('truetype'),
		url('../fonts/roboto/Roboto-Regular.svg') format('svg'),
}

@font-face {
	font-family: 'RobotoLight';
	src: url('../fonts/roboto/Roboto-Light.eot');
	src: url('../fonts/roboto/Roboto-Light.eot') format('embedded-opentypy'),
		url('../fonts/roboto/Roboto-Light.woff2') format('woff2'),
		url('../fonts/roboto/Roboto-Light.woff') format('woff'),
		url('../fonts/roboto/Roboto-Light.ttf') format('truetype'),
		url('../fonts/roboto/Roboto-Light.svg') format('svg'),
}

@font-face {
	font-family: 'RobotoThin';
	src: url('../fonts/roboto/Roboto-Thin.eot');
	src: url('../fonts/roboto/Roboto-Thin.eot') format('embedded-opentypy'),
		url('../fonts/roboto/Roboto-Thin.woff2') format('woff2'),
		url('../fonts/roboto/Roboto-Thin.woff') format('woff'),
		url('../fonts/roboto/Roboto-Thin.ttf') format('truetype'),
		url('../fonts/roboto/Roboto-Thin.svg') format('svg'),
}