@import "vendor/reset";
@import "fonts";


body {
	background-color: #fff;
	font-family: 'RobotoRegular';
	font-size: 16px;
	line-height: 1.5;
	color: #1c1c1c;
	height: 100%;
	text-align: center;
	&._lock {
		overflow: hidden;
	}
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a  {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.page {
	padding: 200px 0 0 0;
	@media (max-width: 768px) {
		padding: 100px 0 0 0;
	}
	.main {
		&__title {
			font-family: 'RobotoThin';
			letter-spacing: -1px;
			// font-size: 70px;
			//адаптивный шрифт от 70px на 1170 до 40px на 320
			font-size: calc(50px + 20 * ((100vw - 320px) / (1170 - 320)));
			font-weight: 300;
			margin-bottom: 65px;
			line-height: 1;
			@media (max-width: 576px) {
				display: none;
			}
		}

		&__button {
			font-family: 'RobotoLight';
			color: #fff;
			background: #435993;
			border: none;
			border-radius: 10px;
			padding: 15.5px 32.5px;
			margin-bottom: 75px;
			
			line-height: 1;

		}
	}
}

.title {
	font-family: 'RobotoLight';
	line-height: 1;
	font-size: calc(26px + 4 * ((100vw - 320px) / (1170 - 320)));
	margin-bottom: 50px;
	letter-spacing: -0.7px;
}

.icon {
	margin-bottom: 24px;
}


/* Blocks */
@import "blocks/header";
@import "blocks/menu";
@import "blocks/container";
@import "blocks/personal-info";
@import "blocks/custom_select";
@import "blocks/experience";
@import "blocks/javascript";
@import "blocks/about-me";
