.select {
	position: relative;
	width: 500px;
	z-index: 1000;
	margin: 0 auto;

	::-webkit-scrollbar {
		width: 8px; /* ширина для вертикального скролла */
		background-color: transparent;
	}
	
	/* ползунок скроллбара */
	::-webkit-scrollbar-thumb {
		background-color: #d9d9d9;
		border: 2px solid rgba(0, 0, 0, 0);
		background-clip: padding-box;
		border-radius: 10px;
	}
	
	::-webkit-scrollbar-thumb:hover {
		background-color: #a7a7a7;
	}
}

.select__trigger {
	font-family: 'RobotoRegular';
	display: flex;
	background-color: #fff;
	border: 0;
	cursor: pointer;
	align-items: center;
	width: 100%;
	line-height: 1;
	user-select: none;
	font-size: calc(20px + 4 * ((100vw - 320px) / (1170 - 320)));
	justify-content: center;
	color: #c8c8c8;
}

	// & .personal-info__data:focus + .personal-info__label-data,
	// & .personal-info__data:not(:placeholder-shown) + .personal-info__label-data{
	// 	font-size: 14px; 
	// 	top:20%;
	// }

.select__trigger::after {
	position: absolute;
	right: 16px;
	content: '';
	width: 15px;
	height: 15px;
	background-size: cover;
	transition: transform 0.3s;
	background: url('../images/arrow_date.png') no-repeat;
	background-position: center;
	transform: rotate(180deg);
}

.select__trigger:focus {
	outline: none;
}

.select_show .select__trigger::after {
	transform: rotate(0deg);
}

.select__dropdown {
	display: none;
	position: absolute;
	padding: 34px 0 34px 16px;
	z-index: 50;
	top: 60px;
	left: 0;
	right: 0;
	border: 0;
	border-radius: 5px;
	background-color: rgb( 255, 255, 255 );
	box-shadow: 0px 2px 5px 0px rgb(189, 189, 189);
}

.select_show .select__dropdown {
	display: block;
}

.select_show .select__backdrop {
	display: block;
}

.select__items {
	margin: 0;
	padding: 0;
	list-style: none;
	max-height: 233px;
	overflow-y: auto;
}

.select__item {
	margin-bottom: 16px;
	color: #55689b;
}

.select__item:last-child {
	margin-bottom: 0px;

}

.select__item:hover {
	transition: 0.5s;
	color: #383838;
	cursor: pointer;
}

.select__item_selected {
	display: flex;
	align-items: center;
	justify-content: center;
}

.select__item_selected{
	color: #383838;
}

//Элемент .select__backdrop используется для того, чтобы можно было скрыть выпадающий список при нажатии вне него.
.select__backdrop {
	position: fixed;
	z-index: -1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: none;
	background-color: transparent;
}


.personal-info__data {
	// margin-bottom: 25px;
	padding: 18px;
	line-height: 1;
	border-radius: 4px;
	border: 1px solid #e5e5e5;
	color: #1c1c1c;
	text-align: center;
	width: 100%;
	font-size: 20px;
}
.personal-info__data:focus {
	border: 1px solid #435993;
}

.personal-info__data:focus,
.personal-info__data:not(:placeholder-shown) {
	padding-top: 25px;
	padding-bottom: 11px;
}

.personal-info__data:last-child {
	margin-bottom: 0;
}
.personal-info__data::placeholder {
	line-height: 1;
	color: #c8c8c8;
}
.personal-info__data_date {
	max-width: 320px;
	margin: 0 auto;
	// padding: 10px;
z-index: 1;
}
.personal-info__data_date:focus,
.personal-info__data_date:not(:placeholder-shown) {
	padding: 18px;
z-index: 1;
}

// .personal-info__data_date:not(:focus) {
//   padding: 10px;
// }