.header__menu {
	@media (max-width: 576px) {
	display: flex;
	align-items: center;
	}
}
.menu {
	padding-left: 10px;
	&__title {
		display: none;
		@media (max-width: 576px) {
			display: block;
			margin-bottom: 0;
			font-family: 'RobotoThin';
			// font-size: 70px;
			//адаптивный шрифт от 70px на 1170 до 40px на 320
			font-size: calc(50px + 20 * ((100vw - 320px) / (1170 - 320)));
			font-weight: 300;
			line-height: 1;
		}
	}
	&__icon {
		display: none;
		z-index: 100;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		margin: 30px 30px 30px auto;

		@media (max-width: 767px) {
			display: block;
			&._active span{
				transform: scale(0) translate(0px, -50%);
			}
			&._active::before{
				top: 50%;
				transform: rotate(-45deg) translate(0px, -50%);
			}
			&._active::after{
				top: 50%;
				transform: rotate(45deg) translate(0px, -50%);
			}
		}

		& span, 
		&::before, 
		&::after {
			position: absolute;
			left: 0;
			width: 100%;
			height: 10%;
			transition: all 0.3s ease 0s;
			background: #55689b;
		}

		& span {
			top: 50%;
			transform: scale(1) translate(0px, -50%);
		}

		&::before, 
		&::after {
			content: '';
		}

		&::before{
			top: 0;
		}

		&::after {
			bottom: 0;
		}

	}

	&__body {
		@media (max-width: 767px) {
			position: fixed;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			background: #d9d9d9f5;
			padding: 165px 30px 30px 30px;
			transition: left 0.3s ease 0s;
			overflow: auto;

			&._active {
				left: 0;
			}
		}
	}

	&__list {

		@media (min-width: 767px) {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		//Обращение к li первого уровня
		> li {

			position: relative;
			margin-right: 80px;
			&:last-child {
				margin-right: 0;
			}

			@media (min-width: 767px) {
				padding: 30px 0;
			}

			@media (max-width: 767px) {
				margin: 0 0 30px 0;
				&:last-child {
					margin-bottom: 0;
				}
			}

		}
	}

	&__link {
		font-family: 'RobotoLight';
		letter-spacing: 0.01em;
		color: #55689b;
		font-weight: lighter;
		font-size: 14px;
		transition: hover 0.5s;

		&:hover {
			text-decoration: none;
			transition: 0.5s;
			color: #383838;
		}

		@media (max-width: 767px) {
			font-size: 25px;
		}
	}
}
