<section class="about-me">
	<div class="container">
		<img src="/assets/images/about-me_icon.png" class="about-me__icon icon" alt="about-me_icon">
		<h2 class="about-me__title title">Расскажите о себе</h2>
		<p class="about-me__title-description">Напишите несколько предложений, чем привлекла наша вакансия
			и&nbsp;что вы&nbsp;ожидаете от&nbsp;работы у&nbsp;нас.</p>
		<div class="about-me__wrap">
			<textarea name="about-me-text" class="about-me__text" id="about-me__text" rows="10" placeholder=" "></textarea>
			<label class="about-me__label-text">Понравилось тем, что...</label>
		</div>
	</div>
</section>