<section class="experience" >
	<div class="container experience__container">
		<img src="/assets/images/experience_icon.png" class="experience__icon icon" alt="experience_icon">
		<h2 class="experience__title title">Расскажите о своем опыте</h2>
		<div class="experience__wrappper">
			<div class="experience__wrap">
				<input type="checkbox" id="checkbox-id-1" class="experience__technologies" />
				<label for="checkbox-id-1" class="experience__label-technologies">БЭМ/OOCSS</label>
				<input type="checkbox" id="checkbox-id-2" class="experience__technologies"/>
				<label for="checkbox-id-2" class="experience__label-technologies">Stylus/LESS/SASS</label>
				<input type="checkbox" id="checkbox-id-3" class="experience__technologies"/>
				<label for="checkbox-id-3" class="experience__label-technologies">Работаю с SVG</label>
			</div>
			<div class="experience__wrap">
				<input type="checkbox" id="checkbox-id-4" class="experience__technologies"/>
				<label for="checkbox-id-4" class="experience__label-technologies">Верстаю семантично</label>
				<input type="checkbox" id="checkbox-id-5" class="experience__technologies"/>
				<label for="checkbox-id-5" class="experience__label-technologies">ES2015/ES2016</label>
				<input type="checkbox" id="checkbox-id-6" class="experience__technologies"/>
				<label for="checkbox-id-6" class="experience__label-technologies">Gulp/GRUNT</label>
			</div>
			<div class="experience__wrap">
				<input type="checkbox" id="checkbox-id-7" class="experience__technologies"/>
				<label for="checkbox-id-7" class="experience__label-technologies">Webpack</label>
				<input type="checkbox" id="checkbox-id-8" class="experience__technologies"/>
				<label for="checkbox-id-8" class="experience__label-technologies">jQuery</label>
				<input type="checkbox" id="checkbox-id-9" class="experience__technologies"/>
				<label for="checkbox-id-9" class="experience__label-technologies">Ипользую Git</label>
			</div>
		</div>
	</div>
</section>