
<section class="javascript">
	<div class="container javascript__container">
		<img src="/assets/images/javascript_icon.png" class="javascript__icon icon" alt="javascript_icon">
		<h2 class="javascript__title title">Уровень владения JavaScript</h2>
		<div class='javascript__wrap'>
			<div class="javascript__slider-text-wrap">
				<div class="javascript__slider-text">
					<p class="javascript__">Не владею</p>
				</div>
				<div class="javascript__slider-text">
					<p class="javascript__two">Использую готовые<br> решения</p>
				</div>
				<div class="javascript__slider-text">
					<p class="javascript__">Использую готовые решения и&nbsp;умею переделывать</p>
				</div>
				<div class="javascript__slider-text">
					<p class="javascript__">Пишу сложный JS с&nbsp;нуля</p>
				</div>
			</div>
			<div class="javascript__slider-wrap">
				<svg viewBox="0 0 768 25">
					<polygon points="0,23.6 0,25 768,25 768,11.6" id="active" fill="url(#gradient)"/>
					<polygon points="0,23 0,25 768,25 768,11" id="bg" points="" fill="rgba(232,232,232)" stroke-width="0" stroke="rgb(0,0,0)"/>
					
					<line x1="192" y1="25" x2="192" y2="20" style="stroke:rgb(255,255,255);stroke-width:1"/>
					<line x1="384" y1="25" x2="384" y2="17" style="stroke:rgb(255,255,255);stroke-width:1"/>

					<path stroke-dasharray="1,2" d="M 1 20 1 0" stroke-width="1" stroke="#b0b0b0"/>
					<path stroke-dasharray="1,2" d="M 192 17 192 0" stroke-width="1" stroke="#b0b0b0"/>
					<path stroke-dasharray="1,2" d="M 384 13 384 0" stroke-width="1" stroke="#b0b0b0"/>
					<path stroke-dasharray="1,2" d="M 767 8 767 0" stroke-width="1" stroke="#b0b0b0"/>

					<defs>
						<linearGradient id='gradient' x1='0%' x2='100%' y1='0%' y2='0%'>
							<stop offset='0%' stop-color='#ccb1f1'/>
							<stop offset='100%' stop-color='#435993'/>
						</linearGradient>
					</defs>

				</svg> 
				<input class='javascript__input' oninput="onSlide(this)" type="range" min="0" max="4" step="1" value="0">				
			</div>
		</div>
	</div>
</section>
	