<div class="header__menu menu">
	<h2 class="menu__title">Анкета</h2>
	<div class="menu__icon">
		<span></span>
	</div>
	<nav class="menu__body">
		<ul class="menu__list">
			<li><a data-goto=".personal-info" href="#" class="menu__link">Личная информация</a></li>
			<li><a data-goto=".experience" href="#" class="menu__link">Опыт</a></li>
			<li><a data-goto=".javascript" href="#" class="menu__link">JavaScript</a></li>
			<li><a data-goto=".about-me" href="#" class="menu__link">О себе</a></li>
		</ul>
	</nav>
</div>
