<section class="personal-info">
	<div class="container">
		<div class="personal-info__wrap">
			<img src="/assets/images/personal_info_icon.png" class="personal-info__icon icon" alt="personal_info_icon">
			<h2 class="personal-info__title title">Личная информация</h2>
			<form action="#" class="personal-info__form">
				<div class="personal-info__wrap-data">
					<input type="text" class="personal-info__data" id="personal-info__initials" placeholder=" ">
					<label class="personal-info__label-data">ФИО</label>
				</div>
				<div class="personal-info__wrap-data">
					<div class="select personal-info__data personal-info__data_date" id="select-1"></div>
				</div>
				<div class="personal-info__wrap-data">
					<input type="text" class="personal-info__data" id="personal-info__address" placeholder=" " >
					<label class="personal-info__label-data">Место проживания</label>
					
				</div>
				<div class="personal-info__wrap-data">
					<input type="text" class="personal-info__data" id="personal-info__skype" placeholder=" ">
					<label class="personal-info__label-data">Skype</label>
					
				</div>
				<div class="personal-info__wrap-data">
					<input type="text" class="personal-info__data" id="personal-info__mail" placeholder=" ">
					<label class="personal-info__label-data">E-mail</label>
				</div>
			</form>
		</div>
	</div>
</section>
