<!DOCTYPE html>
<html lang="ru">
<head>
	{{> head }}
</head>
<body>
	<div class="page" id="page">
		<!-- Header -->
		{{> header }}

		<!-- Main -->
		<main class="main">
			<div class="container">
				<!-- <section class="perosonal-info" style="height: 100vh;">Личная информация</section>
				<section class="experience" style="height: 100vh;">Опыт</section>
				<section class="js" style="height: 100vh;">Джаваскрипт</section>
				<section class="about" style="height: 100vh;">Обо мне</section> -->
			</div>
		</main>
	</div>



	<!-- JS -->
	<script  src="assets/js/script.js"></script>
</body>
</html>
